<div id="footer">
		<p>版权所有©温州市凡创电气有限公司<span class="word-hidden"><span class="box-hidden">-配电箱、不锈钢配电箱、多媒体照明箱、等电位配电箱、光纤入户箱</span>&nbsp;&nbsp;&nbsp;&nbsp;电话：0577-62783779&nbsp;&nbsp;&nbsp;&nbsp;传真：0577-62783799<span class="fanchuang-hidden">&nbsp;&nbsp;&nbsp;&nbsp;技术支持：凡创科技</span></span></p>
		<p><span class="word-hidden"><span class="fanchuang-hidden">地址：浙江省乐清市柳市镇长江路33号&nbsp;&nbsp;&nbsp;&nbsp;</span>QQ：29178521 32396279&nbsp;&nbsp;&nbsp;&nbsp;<span class="website-hidden">网址：<a href="http://www.4000181188.com" target="_blank">http:/http://www.4000181188.com </a>&nbsp;&nbsp;&nbsp;&nbsp;</span></span>备案号：浙ICP备0701106611号</p>
</div>
</body>
</html>