<include file="Public:header"/>
	<div class="wrapper">
		<p class="title">欢迎</p>
		<div class="info">
			你好！欢迎使用ZeroDegree后台管理系统管理“凡创电气基业箱报价系统”！
			<br /><span class="blue">{$_SESSION['auth']['user']}</span> 是你当前登录的用户名，用户名或密码修改后请牢记。
			<br />如果你是第一次登录你的帐号，请点击 <a href="{:U('Admin/alt')}" class="link">更改初始密码</a>
		</div>
	</div>
	<div class="wrapper">
		<p class="title">系统使用说明</p>
		<div class="info">
			本系统所有功能请参考左侧菜单，点击菜单将进入对应的管理页面。
			<br />各个页面都有相应的版块说明，描述了该板块的内容、功能以及使用方法。
		</div>
	</div>
	<div class="wrapper">
		<p class="title">关于本系统</p>
		<div class="info">
			<strong class="key">版本：</strong>ZeroDegree后台管理系统 V2.0
			<br /><strong class="key">说明：</strong>本系统由孙梦海、吴桦开发，版权归华中农业大学零度工作室所有。
			<br /><strong class="key">友情提醒：</strong>如果您在使用过程中遇到什么问题，或者出现漏洞、错误，请联系我们;如果您对于本系统有好的建议或者疑问，请和我们进行交流。
			<br /><strong class="key">QQ：</strong>878131732 &nbsp;596527851
			<br /><strong class="key">E-mail：</strong>878131732@qq.com &nbsp;596527851@qq.com
			<br /><strong class="key">联系地址：</strong>逸夫楼C座423
		</div>
	</div>
<include file="Public:footer"/>